.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 100vh;
    text-align: center;
}

.App * {
    padding: 2vh;
}

button {
    font-size: 1.4rem;
}