@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading {
    font-size: 6vh;
    font-family: 'Fredoka One', cursive;
    color: #03DAC6;
    margin-top: 8vh;
}

.input {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.input_text {
    height: auto;
    width: 30vw;
    background-color: #191919;
    padding: 1vh;
    padding-left: 2vh;
    font-weight: 500;
    font-size: 3vh;
    color: white;
}

.submit {
    margin-top: 3vh;
    background-color: #03DAC6;
    height: 5vh;
    width: 16vw;
    font-size: 3vh;
    font-weight: 500;
    color: #303030;
    transition: transform 0.2s ease;
}

.submit:hover {
    transform: scale(1.05);
}

.display {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 70vw;
    background-color: #303030;
    border-radius: 2vh;
    color: #FFFFFF;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 70vw;
    background-color: #303030;
    font-size: larger;
    border-radius: 2vh;
    color: #FFFFFF;
}