body {
    background: url("./background.jpg") no-repeat;
    background-size: cover;
}

h2 {
    font-family: "Mate SC";
    font-size: 32px;
    font-weight: bolder;
    color: #423737;
}

p {
    font-family: "Mate SC";
    font-size: 22px;
    font-weight: 700;
    color: #494e5e;
}
